div{
 display:flex;


 
 

}

.topBar{
    align-items:center;
    width:100%;
    background-color:#1F2937;
    color:white;



}


.block{
 width:150px;
 height:150px;
 background-color: white;
 outline:solid #3882f6;
 border-radius: 10px;
 
 



}

.secondSection{
    width:100%;
    flex-direction: row;
    background-color:#1F2937;
    color:white;



}




.thirdSection{
  margin-top:50px;
  width:100%;
  flex-direction: column;
  color:white;
  



}



.container{
max-width: 1200px;
width:1200px;
justify-content: center;
margin: 0 auto;
margin-bottom:80px;



}

.full-width-gray{
flex-direction:row;


}



.full-width-gray .container {
  align-items:center;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  margin-top:100px;

  }

.full-width-gray .container h1 {
font-style: italic;
font-size:36px;
color:#1F2937
}

img{
width:100%;
align-self:center;
margin:40px;
align-items:center;
justify-content: center;



}

button{
width:100px;
margin-bottom:10px;



}


*{
    font-family:Roboto;
    
    
    }

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 100 900; /* Supports variable weights */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Italic-VariableFont_wdth_wght.ttf') format('truetype');
    font-weight: 100 900; /* Supports variable weights */
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Roboto Bold';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  


  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#SignUp{
background-color: #3882F6;
font-size:15px;
font-weight:bold;
padding:10px;
padding-left:25px;
padding-right:25px;
align-self: flex-start;
border-radius:10px;
transition: background-color 0.3s ease, transform 0.3s ease;





}

#SignUp:hover {
  background-color: #295db2;
  transition: 0.3s;
  transform: scale(1.1);
}

.hold p {
color:black;



}